.button {
    -fx-cursor: hand;
    -fx-background-color:   #4EEC0D;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.button:pressed {
    -fx-effect: dropshadow( three-pass-box ,#D1FC77, 10, 0.0 , 0 , 0 );
}

.button:hover {
    -fx-background-color: #A8FF7C;
    -fx-text-fill: #00D55F;
}
